*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-size: 16px;
  font-family: "poppins";
}

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

ul {
  list-style: none;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 20px;
}
ul li {
  height: 100px;
  flex: 1 1 180px;
  background: lightblue;
  transition: 0.3s ease;
}

ul li a {
  display: grid;
  height: 100%;
  place-items: center;
}

ul li:hover {
  box-shadow: 0 0 16px darkblue;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

header {
  padding: 20px;
  background: darkblue;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

footer {
  padding: 20px;
  text-align: center;
  font-size: 0.75rem;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
  box-shadow: 0px -5px 5px 0 #eee;
}

footer img {
  height: 20px;
  width: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: grid;
  padding: 15px;
  place-items: center;
  transition: .35s;
}

.modal.close {
 transform: scale(0);
}
.modal-popup {
  position: relative;
  width: 100%;
  max-width: 400px;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
}
.modal-popup i {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 20px;
}
.modal-popup h2 {
  margin-top: 20px;
}