*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-size: 16px;
  font-family: "poppins";
}
main {
  padding: 2rem;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
ul {
  list-style: none;
}

main ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  flex-wrap: wrap;
  grid-gap: 2rem;
}
main ul li {
  text-align: center;
  flex: 1 1 200px;
  background: rgba(0, 0, 160, 0.01);
  border-radius: 20px;
  box-shadow: 0 0 5px 0 darkblue;
  transition: 0.3s ease;
  padding: 1rem;
}

main ul li img {
  height: 100px;
}
a {
  color: darkblue;
  text-decoration: none;
}
main ul li a {
  gap: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

main ul li:hover {
  box-shadow: 0 0 16px darkblue;
  border-radius: 10px;
  background-color: #fff;
}

main a {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}
.logo {
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.logo:hover {
  opacity: 0.7;
}

nav {
  position: fixed;
  top: 69px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  height: calc(100vh - 69px);
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: auto 1fr;
  opacity: 0;
  z-index: -1;
  transition: 0.5s ease;
}

.close-nav {
  height: 100%;
  width: 100%;
  /* background: #000; */
}
nav.active {
  z-index: 100;
  opacity: 1;
}

nav.active ul {
  transform: translateX(0);
}
nav ul {
  background-color: rgb(8, 8, 27);
  width: 100%;
  max-width: 300px;
  padding: 10px;
  height: 100%;
  justify-self: flex-end;
  transform: translateX(100%);
  transition: 0.35s ease;
}
nav li {
  display: grid;
  height: 100px;
  font-size: 100%;
  padding: 10px;
}

nav li:not(:last-child) {
  border-bottom: 2px solid #eee;
}

nav a {
  position: relative;
  transition: 0.35s;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: start;
  padding: 1rem;
  gap: 10px;
  letter-spacing: 0.5px;
  align-items: center;
  transition: ease 0.3s;
  color: #f3f3f3;
}

nav i {
  margin-right: 10px;
}

nav a {
  z-index: 001;
}
nav a:hover {
  font-weight: 700;
}

img {
  object-fit: contain;
  height: 100%;
}
header {
  position: sticky;
  top: 0;
  padding: 2rem;
  background: darkblue;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}

header i {
  cursor: pointer;
}

footer {
  padding: 20px;
  text-align: center;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
  box-shadow: 0px 0px 5px 0 rgb(8, 8, 27);
}

footer img {
  height: 20px;
  width: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 140, 0.5);
  display: grid;
  padding: 15px;
  place-items: center;
  transition: 0.8s ease-out;
  opacity: 1;
  z-index: 1000;
}

.modal.close {
  opacity: 0;
  z-index: -1;
}

.modal.close .modal-popup {
  opacity: 0;
}
.modal-popup {
  position: relative;
  width: 100%;
  max-width: 400px;
  background: #fff;
  border-radius: 10px;
  padding: 2rem;
  transition: 0.5s ease-in-out;
  opacity: 1;
}
.modal-popup i {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 20px;
  cursor: pointer;
}
.modal-popup h2 {
  margin-top: 1rem;
}

input[type="submit"],
button {
  padding: 10px 2rem;
  margin-top: 1rem;
  outline: none;
  border: none;
  background-color: darkblue;
  color: #fff;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 100%;
  border-radius: 20px;
  transition: 0.35s;
}

input[type="submit"]:hover,
button:hover {
  box-shadow: 0 0 5px 0 darkblue;
  background-color: #fff;
  color: darkblue;
}

.ads {
  display: flex;
  justify-content: center;
  height: 160px;
  /* padding: 2rem; */
  margin-bottom: 20px;
  overflow: hidden;
}

.banner {
  position: sticky;
  top: 5rem;
  padding: 20px 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.3;
  height: auto;
  background-color: rgb(245, 245, 252);
  margin-top: -10px;
  margin-bottom: 2rem;
  border-radius: 30px;

  letter-spacing: 1px;
  font-weight: 300;
  color: rgba(51, 51, 51, 0.871);
  font-size: 90%;
}

.banner span {
  font-weight: 700;
}

.banner button {
  margin-left: 20px;
}
.banner button a {
  color: inherit;
  font-size: 12px;
  display: block;
  width: 100%;
  height: 100%;
}

.section {
  margin-bottom: 2rem;
}

.section li {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section__title {
  font-weight: 700;
  padding: 20px;
}

.img__container {
  height: 100px;
  width: 100px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img__container img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* MEDIA SCREEN SIZES */
@media (min-width: 520px) {
}
