*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-size: 16px;
  font-family: "poppins";
}

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
ul {
  list-style: none;
}

main ul {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}
main ul li {
  text-align: center;
  flex: 1 1 200px;
  background: rgba(0, 0, 160, 0.01);
  border-radius: 20px;
  box-shadow: 0 0 5px 0 darkblue;
  transition: 0.3s ease;

  padding: 1rem;
}
main ul li img {
  height: 100px;
}
a {
  color: darkblue;
  text-decoration: none;
}
main ul li a {
  gap: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

main ul li:hover {
  box-shadow: 0 0 16px darkblue;
  border-radius: 10px;
  background-color: #fff;
}

main a {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

nav {
  position: fixed;
  top: 64px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  height: calc(100vh - 64px);
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  z-index: -1;
  transition: 0.5s ease;
}

.close-nav {
  height: 100%;
  width: 100%;
  background: transparent;
}
nav.active {
  z-index: 100;
  opacity: 1;
}

nav.active ul {
  transform: translateX(0);
}
nav ul {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 400px;
  padding: 10px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  transform: translateX(100%);

  transition: 0.35s ease;
}
nav li {
  display: grid;
  font-size: 120%;
  padding: 10px;
}

nav a {
  position: relative;
  border-radius: 30px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 140, 0.7);
  transition: 0.35s;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content:start;
  padding: 1rem;
  gap: 10px;
  letter-spacing: 0.5px;
  align-items: center;
}
nav a:hover {
  border-bottom: 5px solid rgba(0, 0, 140, 0.7);
  font-weight: 700;
}
nav a {
  z-index: 001;
}
img {
  object-fit: contain;
  height: 100%;
}
header {
  position: sticky;
  top: 0;
  padding: 20px;
  background: darkblue;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

header i {
  cursor: pointer;
}

footer {
  padding: 20px;
  text-align: center;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
  box-shadow: 0px 0px 5px 0 rgba(0, 0, 140, 0.3);
}

footer img {
  height: 20px;
  width: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 140, 0.5);
  display: grid;
  padding: 15px;
  place-items: center;
  transition: .8s ease-out;
  opacity: 1;
  z-index: 1000;
}

.modal.close {
  opacity: 0;
  z-index: -1;
}

.modal.close .modal-popup {
  opacity: 0;
}
.modal-popup {
  position: relative;
  width: 100%;
  max-width: 400px;
  background: #fff;
  border-radius: 10px;
  padding: 2rem;
  transition: 0.5s ease-in-out;
  opacity: 1;
}
.modal-popup i {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 20px;
  cursor: pointer;
}
.modal-popup h2 {
  margin-top: 1rem;
}

.modal-popup input[type="submit"] {
  padding: 10px 2rem;
  margin-top: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: "Poppins";
  font-size: 100%;
  border-radius: 20px;
  background-color: darkblue;
  color: #fff;
  transition: 0.35s;
}

.modal-popup input[type="submit"]:hover {
  box-shadow: 0 0 5px 0 darkblue;
  background-color: #fff;
  color: darkblue;
}
