*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-size: 16px;
  font-family: "poppins";
}

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

ul {
  list-style: none;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 20px;
}
ul li {
  height: 120px;
  flex: 1 1 200px;
  background: lightblue;
  border-radius: 20px;
  box-shadow: 0 0 16px #ddd;
  transition: 0.3s ease;
}

ul li a {
  display: grid;
  height: 100%;
  place-items: center;
  color: darkblue;
}

ul li:hover {
  box-shadow: 0 0 16px darkblue;
  border-radius: 10px;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

header {
  padding: 20px;
  background: darkblue;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

footer {
  padding: 20px;
  text-align: center;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
  box-shadow: 0px -5px 5px 0 #eee;
}

footer img {
  height: 20px;
  width: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  padding: 15px;
  place-items: center;
  transition: 1s ease-out;
  opacity: 1;
}

.modal.close {
  opacity: 0;
}

.modal.close .modal-popup {
  opacity: 0;
}
.modal-popup {
  position: relative;
  width: 100%;
  max-width: 400px;
  background: #fff;
  border-radius: 10px;
  padding: 2rem;
  transition: 0.5s ease-in-out;
  opacity: 1;
}
.modal-popup i {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 20px;
  cursor: pointer;
}
.modal-popup h2 {
  margin-top: 1rem;
}

.modal-popup input[type="submit"] {
  padding: 10px 2rem;
  margin-top: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: "Poppins";
  font-size: 100%;
  border-radius: 20px;
  background-color: darkblue;
  color: #fff;
  transition: 0.35s;
}

.modal-popup input[type="submit"]:hover {
  box-shadow: 0 0 5px 0 darkblue;
  background-color: #fff;
  color: darkblue;
}
