*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-size: 16px;
  font-family: "poppins";
}
main {
  padding: 0 2rem;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
ul {
  list-style: none;
}

main ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* flex-wrap: wrap; */
  grid-gap: 2rem;
}
main ul li {
  text-align: center;
  background-color: hsl(240, 54%, 97%);
  border-radius: 20px;
  box-shadow: 0 0 5px 0 rgb(77, 77, 221);
  transition: 0.3s ease;
  padding: 2rem;
  width: auto;
}

a {
  color: darkblue;
  text-decoration: none;
}
.section ul li a {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  justify-content: space-between;
}

.section ul li:hover {
  box-shadow: 0 0 16px rgba(0, 0, 139, 0.57);
  border-radius: 10px;
  background-color: #fff;
}

.section a {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}
.logo {
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.logo:hover {
  opacity: 0.7;
}

nav {
  position: fixed;
  top: 69px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  height: calc(100vh - 69px);
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: auto 1fr;
  opacity: 0;
  z-index: -1;
  transition: 0.5s ease;
}

.close-nav {
  height: 100%;
  width: 100%;
  /* background: #000; */
}
nav.active {
  z-index: 100;
  opacity: 1;
}

nav.active ul {
  transform: translateX(0);
}
nav ul {
  background-color: rgb(8, 8, 27);
  width: 100%;
  max-width: 300px;
  padding: 10px;
  height: 100%;
  justify-self: flex-end;
  transform: translateX(100%);
  transition: 0.35s ease;
}
nav li {
  display: grid;
  height: 100px;
  font-size: 100%;
  padding: 10px;
}

nav li:not(:last-child) {
  border-bottom: 2px solid #eee;
}

nav a {
  position: relative;
  transition: 0.35s;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: start;
  padding: 1rem;
  gap: 10px;
  letter-spacing: 0.5px;
  align-items: center;
  transition: ease 0.3s;
  color: #f3f3f3;
}

nav i {
  margin-right: 10px;
}

nav a {
  z-index: 001;
}
nav a:hover {
  font-weight: 700;
}

img {
  object-fit: contain;
  /* height: 100%; */
}
header {
  position: sticky;
  top: 0;
  padding: 2rem;
  background: darkblue;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}

header i {
  cursor: pointer;
}

footer {
  padding: 20px;
  text-align: center;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
  border-top: 2px solid rgba(9, 9, 61, 0.7);
}

footer img {
  height: 20px;
  width: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 140, 0.5);
  display: grid;
  padding: 15px;
  place-items: center;
  transition: 0.8s ease-out;
  opacity: 1;
  z-index: 1000;
}

.modal.close {
  opacity: 0;
  z-index: -1;
}

.modal.close .modal-popup {
  opacity: 0;
}
.modal-popup {
  position: relative;
  width: 100%;
  max-width: 400px;
  background: #fff;
  border-radius: 10px;
  padding: 2rem;
  transition: 0.5s ease-in-out;
  opacity: 1;
}
.modal-popup i {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 20px;
  cursor: pointer;
}
.modal-popup h2 {
  margin-top: 1rem;
}

input[type="submit"],
button {
  padding: 10px 2rem;
  margin-top: 1rem;
  outline: none;
  border: none;
  background-color: darkblue;
  color: #fff;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 100%;
  border-radius: 20px;
  transition: 0.35s;
}

input[type="submit"]:hover,
button:hover {
  box-shadow: 0 0 5px 0 darkblue;
  background-color: #fff;
  color: darkblue;
}

.ads {
  display: flex;
  justify-content: center;
  height: 160px;
  /* padding: 2rem; */
  margin-bottom: 20px;
  overflow: hidden;
}

.banner {
  position: sticky;
  top: 6rem;
  padding: 20px 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.3;
  height: auto;
  background-color: rgb(245, 245, 252);
  margin-top: -10px;
  margin-bottom: 2rem;
  border-radius: 30px;
  z-index: 1000;

  letter-spacing: 1px;
  font-weight: 300;
  color: rgba(51, 51, 51, 0.871);
  font-size: 90%;
}

.banner span {
  font-weight: 700;
}

.banner button {
  margin-left: 20px;
}
.banner button a {
  color: inherit;
  font-size: 12px;
  display: block;
  width: 100%;
  height: 100%;
}

.section {
  margin-bottom: 2rem;
}

.intro {
  line-height: 1.2;
  padding: 20px 0;
  color: rgb(10, 18, 87);
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
  opacity: 0.3;
  letter-spacing: 5px;
  text-align: center;
}
.intro h2 {
  font-weight: 500;
  text-align: center;
}
.img__container {
  height: 100px;
  width: 100px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.img__container img {
  position: absolute;
  height: 100%;
  width: 100%;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

/* MEDIA SCREEN SIZES */
@media (min-width: 520px) {
}
